:root{
    --blue-light:#AEC4EF;
    --blue:#4C75EC;
    --off-white:#EDECF3;
    --gray-dark:#333333;
    --carrot-orange:#FF7C32;
    --carrot-green:#8EBA71;
    --carrot-green-dark:#5C7861;
    --carrot-green-light: #c2eda6;
    --ear-pink:#FBA6AE;
    --ear-pink-light:#FFD7CA;
    --mint:#99EDC3;
    --mint-dark:#048382;

}

body{
   font-family: 'Open Sans', sans-serif !important;
}
/* misc */
.bg-blue-light{
    background:var(--blue-light);
}

.text-gray-dark{
    color:var(--gray-dark);
}

.border-blue{
   background-color:var(--blue);
}

/* icons */
.icon-green{
   color:var(--carrot-green);
}

.icon-lg{
   font-size:36px;
}

/* anchor tags */
.a-no-underline{
   text-decoration:none;
}
a{
   text-decoration:none !important;
   color:var(--carrot-green) !important;
}
a:hover{
   color:var(--carrot-green-dark) !important;
}
i:hover{
   color:var(--carrot-green-dark) !important;
}

/* nav bar stuff */
.nav-link{
   color:black !important;
}

.nav-link:hover{
   color:var(--carrot-orange) !important;
}

.navbar{
   background: linear-gradient(90deg, var(--ear-pink), 25%, var(--blue-light)) !important;
}
.current{
   background-color: rgba(0,0,0,.2);
   
}
/* buttons */
.btn-primary, .btn-primary:active, .btn-primary:visited{
   background-color:var(--carrot-green) !important;
   border-color:var(--carrot-green) !important;
}
.btn-primary:hover{
   background-color:var(--carrot-green-dark) !important;
   border-color:var(--carrot-green-dark) !important;

}

/* text */

.text-green{
   color:var(--carrot-green);
}

.text-mint-dark{
   color:var(--mint-dark) !important;
}

.text-green-dark{
   color:var(--carrot-green-dark);
}

/* accordion */
.accordion-button:not(.collapsed){
   background-color:var(--carrot-green-light) !important;
}

/* custom elements */
#status{
   display:inline-block;
   margin:0 auto !important;
   background-color: var(--mint);
   color: var(--mint-dark);
   border: 5px solid var(--mint-dark);
   border-radius:15px;
   padding: 5px 10px;
}
#status:hover{
   filter:brightness(80%);
}